<footer class="footer">
  <div class="block padded-content-desktop">
    <p>
      <span class="icon-text">
        <span class="icon">
          <!-- <i class="fab fa-github"></i> -->
          <img src="/svg/github.svg" alt="GitHub" />
        </span>
        <span>
          <a href="https://github.com/ravener">@ravener</a>
        </span>
      </span>
    </p>

    <p>
      <span class="icon-text">
        <span class="icon">
          <!-- <i class="fab fa-twitter"></i> -->
          <img src="/svg/twitter.svg" alt="Twitter" />
        </span>
        <span>
          <a href="https://twitter.com/RavenRavener">@RavenRavener</a>
        </span>
      </span>
    </p>

    <p>
      <span class="icon-text">
        <span class="icon">
          <!-- <i class="fab fa-discord"></i> -->
          <img src="/svg/discord.svg" alt="Discord" />
        </span>
        <span>
          <a href="/discord.html">Ravener#5796</a>
        </span>
      </span>
    </p>

    <!--
      Unfortunately bootstrap-icons doesn't have DEV yet.
      I manually found another svg but it kinda scales weird.
      I don't even use DEV much besides having an empty account lol
      so keep this commented for now.
      <p>
      <span class="icon-text">
        <span class="icon is-small">
          <i class="fab fa-dev"></i>
          <img src="/svg/dev-to.svg" alt="DEV" />
        </span>
        <span>
          <a href="https://dev.to/ravener">@ravener</a>
        </span>
      </span>
      </p> -->

    <p>
      <span class="icon-text">
        <span class="icon">
          <!-- <i class="fab fa-reddit"></i> -->
          <img src="/svg/reddit.svg" alt="Reddit" />
        </span>
        <span>
          <a href="https://reddit.com/u/ravenravener">u/ravenravener</a>
        </span>
      </span>
    </p>

    <p>
      <span class="icon-text">
        <span class="icon">
          <img src="/svg/mastodon.svg" alt="Mastodon" />
        </span>
        <span>
          <a rel="me" href="https://mastodon.social/@ravener">@ravener@mastodon.social</a>
        </span>
      </span>
    </p>

    <p>
      <span class="icon-text">
        <span class="icon">
          <!-- <i class="fas fa-coffee"></i> -->
          <img src="/svg/cup-fill.svg" alt="Cup" />
        </span>
        <span>
          <a href="https://buymeacoffee.com/ravener">buymeacoffee.com/ravener</a>
        </span>
      </span>
    </p>
  </div>

  <div class="block content has-text-centered">
    <p>
    Copyright © 2020-2021 Raven. Powered by <a href="https://vercel.com">Vercel</a>
    </p>
  </div>
</footer>
