<nav class="navbar is-link" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://ravener.now.sh">
      <h4 class="title is-4 has-text-white">Raven</h4>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbar" class="navbar-menu">
    <div class="navbar-start">
      <a href="/" class="navbar-item">
        Home
      </a>

      <a href="/discord.html" class="navbar-item">
        Discord
      </a>

      <a href="/about.html" class="navbar-item">
        About
      </a>
    </div>
  </div>
</nav>
